.contenedor {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 100px 100px 50px;
    grid-gap: 5px;
}

li {
    font-size:2em;
}
li.ready {
    color:greenyellow;
}

li.notready {
    color:red;
}

body {
    font-family: 'Montserrat', sans-serif;
}
